@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task List Demo</h1>
    <p class="lead">Code First implementation using ASP.NET MVC scaffolding</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Outstanding</h2>
        <ul>
            <li>TODO: </li>

            <li>row highlighting </li>
            <li>unit tests around mapping logic</li>
            <li>instructions in home page (this) </li>
            <li>consistent date formats on all screens</li>
            <li>readme.MD</li>
            <li>reverse chronological on which field - chose due date </li>

        </ul>
    </div>

</div>