@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Task List Demo</h1>
    <p class="lead">Code First implementation using ASP.NET MVC scaffolding</p>

</div>

<div class="row">
    <div>
        <h2>Instructions</h2>
        <ul>
            <li>Register at least 2 users, 1 for escalating tasks, 1 for escalations to be assigned to</li>
            <li>Login in as user 1</li>
            <li>In the task administration screen, assign a bunch of tasks to the other user and with a due date in the future</li>
            <li>In the task administration screen, assign a bunch of tasks to the other user and with a due date in the past</li>
            <li>In the task list screen, view the tasks that are overdue that you have escalated</li>
            <li>Log Off User 1</li>
            <li>Login in as user 2</li>
            <li>In the task list screen, view the tasks that have been assigned to you</li>
            <li>Complete the tasks as necessary, overdue task rows will be highlighted</li>

        </ul>
        
        <h2>Assumptions</h2>
        <ul>
            <li>An escalation is the same as assigning a task to a user</li>
            <li>A user cannot escalate/assign a task to themselves</li>
            <li>A user can complete overdue tasks that have been escalated by themselves</li>
            <li>For this Demo, All users can view the task administration screen. It is assumed that role based permissions could be a future requirement</li>
            <li>Sql Server Express Local DB is used in this demo as it is part of the visual studio installation  for .NET desktop development</li>
            <li>Task list displayed in reverse chronological order on due date</li>
            <li>Administration list displayed in reverse chronological order on creation date</li>
        </ul>
    </div>

</div>